*{
padding:0;
margin:0;
}
#nav h2{
	width:30%;
	font-size:40px;
	text-align:right;
	color:white;
}
#logo{
	display: flex;
    flex-direction: row;
    align-items: center;
}
#logo img{
	width:60px;
	height:40px;
}
#nav{
	display:flex;
	align-items:center;
	background-color: #1a1a00;
	justify-content:space-between;
}
#nav h3{
	color:white;
	font-size: 20px;
}
#nav .menu {
	margin-right:10px;
	width:200px;
	display:flex;
	justify-content:space-between;
}
#nav .menu a{
	font-size:20px;
	text-decoration:none;	
	color:white;
}
#nav .menu a:hover{
	color:#b3ff1a;
}
a{
	padding:15px 10px;
}
.image a img {
	width:150px;
	height:150px;
}
.image a img:hover{
	width:175px;
	height:175px;
}
.image{
	display: flex;
	justify-content: center;
	align-items:center;
}
.image a figure figcaption{
	align-text:center;
}
.image a{
	margin-top:70px;
	padding: 50px;
	text-decoration:none;
}
figure {
  float: right;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  border-radius: 15px;
  margin: 0.5em;
}
table{
	margin-top: 10px;
	margin-bottom:10px;
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

tr, th, td {
	border: solid 2px;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
}
#notification, #profile{
	display: flex;
	justify-content: center;
	border: solid black;
	border-radius:20px;
	width:auto;
	top:30%;
	left:20%;
	padding:20px auto 0px auto;
	background-color: white; 
	position: absolute;
	z-index:1;
}
.head{
	display:flex;
	justify-content: space-between;
	flex-direction: row;
}
.head h2{
	margin-left: 200px;
	margin-top: 10px;
	color:black;
}
.head button{
	margin-right: 20px;
	margin-top: 10px;
	width:20px;
	height: 20px;
	border: none;
	background-color: white;
	font-size: 20px;
	cursor: pointer;
}
.swal2-popup #swal2-title {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 0 .4em;
    padding: 0;
    color: #595959;
    font-size: 1.875em;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    word-wrap: break-word;
    font-size: 20px;
}

#notification, #profile{
	display:none;
}
.btn1{
	border:none;
	background-color: white;
	cursor: pointer;
}